M01-ai-lead-scoring-crm-sync/blueprint.json
{
    "name": "M01 — AI Lead Scoring & CRM Sync",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2452311,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": " Tally M01",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "eventId",
                        "type": "text"
                    },
                    {
                        "name": "eventType",
                        "type": "text"
                    },
                    {
                        "name": "createdAt",
                        "type": "text"
                    },
                    {
                        "name": "data",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "responseId",
                                "type": "text"
                            },
                            {
                                "name": "submissionId",
                                "type": "text"
                            },
                            {
                                "name": "respondentId",
                                "type": "text"
                            },
                            {
                                "name": "formId",
                                "type": "text"
                            },
                            {
                                "name": "formName",
                                "type": "text"
                            },
                            {
                                "name": "createdAt",
                                "type": "text"
                            },
                            {
                                "name": "submissionPdfUrl",
                                "type": "text"
                            },
                            {
                                "name": "submissionPreviewUrl",
                                "type": "text"
                            },
                            {
                                "name": "fields",
                                "type": "array",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text"
                                        },
                                        {
                                            "name": "label",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text"
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": ""
            },
            "mapper": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "post",
                "headers": [
                    {
                        "name": "x-api-key",
                        "value": "YOUR_ANTHROPIC_API_KEY"
                    },
                    {
                        "name": "anthropic-version",
                        "value": "2023-06-01"
                    },
                    {
                        "name": "content-type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\r\n  \"model\": \"claude-sonnet-4-5\",\r\n  \"max_tokens\": 1024,\r\n  \"messages\": [\r\n    {\r\n      \"role\": \"user\",\r\n      \"content\": \"You are an expert lead scoring AI for Cognflow, an n8n automation agency. Score the following lead and respond ONLY in this exact format with no extra text:\\n\\nSCORE: [number 0-100]\\nTIER: [Hot or Warm or Cold]\\nQUALIFIED: [true or false]\\nINTENT: [one sentence]\\nSUGGESTED_SERVICE: [one sentence]\\nREASONING: [two to three sentences]\\n\\nLead details:\\n- Name: {{1.data.fields[1].value}}\\n- Business: {{1.data.fields[2].value}}\\n- Email: {{1.data.fields[3].value}}\\n- Budget: {{1.data.fields[4].value}}\\n- Pain Point: {{1.data.fields[5].value}}\\n- Source: {{1.data.fields[6].value}}\"\r\n    }\r\n  ]\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "SCORE:\\s*(\\d+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "TIER:\\s*(\\w+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "QUALIFIED:\\s*(\\w+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "INTENT:\\s*(.+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "SUGGESTED_SERVICE:\\s*(.+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "pattern": "REASONING:\\s*([\\s\\S]+)",
                "global": false,
                "sensitive": true,
                "multiline": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "filter": null,
            "mapper": {
                "text": "{{2.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "type": "text",
                        "name": "$1",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9399450
            },
            "mapper": {
                "base": "appJF1QfRES7VWq4g",
                "typecast": false,
                "useColumnId": false,
                "table": "tblCGVqK1CjxahsVm",
                "record": {
                    "fldJQUW2AkjmM3AoS": "{{1.data.fields[1].value}}",
                    "fldB87g9W2bl3MlxT": "{{1.data.fields[2].value}}",
                    "fldQXuS3ajcRkaDYi": "{{1.data.fields[3].value}}",
                    "fldFIGwcrLJyJUUpY": "{{1.data.fields[5].value}}",
                    "fldrlXgq1OYSAv50L": "{{11.$1}}",
                    "flddxQ7D0TZKvV8j8": "{{12.$1}}",
                    "fld61UoU8X08yu5ID": "{{13.$1}}",
                    "fldGZRIgJ1z9BXG3X": "{{10.$1}}",
                    "fldDGciOX385sKbH5": "{{14.$1}}",
                    "fld2jObmNYAK5BhzD": "{{1.createdAt}}",
                    "fldvoYN1jQdbDjw0u": "{{9.$1}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Airtable — Cognflow CRM",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Cognflow CRM"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldJQUW2AkjmM3AoS",
                                            "label": "Full Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldCISfivcmXjgCi3",
                                            "label": "Notes",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldB87g9W2bl3MlxT",
                                            "label": "Business",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldQXuS3ajcRkaDYi",
                                            "label": "Email",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldvNKVK0P2Ps7eez",
                                            "label": "Budget",
                                            "type": "number"
                                        },
                                        {
                                            "name": "fldFIGwcrLJyJUUpY",
                                            "label": "Pain Point",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldfFA6hK9PVqEKeT",
                                            "label": "Source",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "LinkedIn",
                                                    "value": "LinkedIn"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldrlXgq1OYSAv50L",
                                            "label": "Qualified",
                                            "type": "text"
                                        },
                                        {
                                            "name": "flddxQ7D0TZKvV8j8",
                                            "label": "Intent",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fld61UoU8X08yu5ID",
                                            "label": "Suggested Service",
                                            "type": "text"
                                        },
                                        {
                                            "name": "flduB1HAxovFDmxXE",
                                            "label": "Status",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": []
                                        },
                                        {
                                            "name": "fldGZRIgJ1z9BXG3X",
                                            "label": "Tier",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "Hot",
                                                    "value": "Hot"
                                                },
                                                {
                                                    "label": "Warm",
                                                    "value": "Warm"
                                                },
                                                {
                                                    "label": "Cold",
                                                    "value": "Cold"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldDGciOX385sKbH5",
                                            "label": "AI Reasoning",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fld2jObmNYAK5BhzD",
                                            "label": "Submitted At",
                                            "type": "date",
                                            "time": false
                                        },
                                        {
                                            "name": "fldvoYN1jQdbDjw0u",
                                            "label": "Score",
                                            "type": "text",
                                            "multiline": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Leads"
                        },
                        "record": {
                            "nested": {
                                "fldfFA6hK9PVqEKeT": {
                                    "mode": "edit"
                                },
                                "flduB1HAxovFDmxXE": {
                                    "mode": "edit"
                                },
                                "fldGZRIgJ1z9BXG3X": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldJQUW2AkjmM3AoS",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fldCISfivcmXjgCi3",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "name": "fldB87g9W2bl3MlxT",
                                "type": "text",
                                "label": "Business"
                            },
                            {
                                "name": "fldQXuS3ajcRkaDYi",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldvNKVK0P2Ps7eez",
                                "type": "number",
                                "label": "Budget"
                            },
                            {
                                "name": "fldFIGwcrLJyJUUpY",
                                "type": "text",
                                "label": "Pain Point"
                            },
                            {
                                "name": "fldfFA6hK9PVqEKeT",
                                "type": "select",
                                "label": "Source",
                                "mode": "edit"
                            },
                            {
                                "name": "fldrlXgq1OYSAv50L",
                                "type": "text",
                                "label": "Qualified"
                            },
                            {
                                "name": "flddxQ7D0TZKvV8j8",
                                "type": "text",
                                "label": "Intent"
                            },
                            {
                                "name": "fld61UoU8X08yu5ID",
                                "type": "text",
                                "label": "Suggested Service"
                            },
                            {
                                "name": "flduB1HAxovFDmxXE",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldGZRIgJ1z9BXG3X",
                                "type": "select",
                                "label": "Tier",
                                "mode": "edit"
                            },
                            {
                                "name": "fldDGciOX385sKbH5",
                                "type": "text",
                                "label": "AI Reasoning"
                            },
                            {
                                "name": "fld2jObmNYAK5BhzD",
                                "type": "date",
                                "label": "Submitted At",
                                "time": false
                            },
                            {
                                "name": "fldvoYN1jQdbDjw0u",
                                "type": "text",
                                "label": "Score"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "label": "Full Name",
                        "type": "text"
                    },
                    {
                        "name": "Notes",
                        "label": "Notes",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Business",
                        "label": "Business",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Budget",
                        "label": "Budget",
                        "type": "number"
                    },
                    {
                        "name": "Pain Point",
                        "label": "Pain Point",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Source",
                        "label": "Source",
                        "type": "text"
                    },
                    {
                        "name": "Qualified",
                        "label": "Qualified",
                        "type": "text"
                    },
                    {
                        "name": "Intent",
                        "label": "Intent",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Suggested Service",
                        "label": "Suggested Service",
                        "type": "text"
                    },
                    {
                        "name": "Status",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "Tier",
                        "label": "Tier",
                        "type": "text"
                    },
                    {
                        "name": "AI Reasoning",
                        "label": "AI Reasoning",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Submitted At",
                        "label": "Submitted At",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Score",
                        "label": "Score",
                        "type": "text",
                        "multiline": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}